<%- include("partials/header") %>
<br />
<div class="container">
	<h1>
		Edit Game
	</h1>
	<br />
<form action="/games/<%= game._id %>?_method=PUT" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" value="<%= game.title %>">
  </div>
  <br />
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" value="<%= game.description %>">
  </div>
  <br />
	<div class="form-group">
    <label for="developer">Developer</label>
    <input type="text" class="form-control" name="developer" value="<%= game.developer %>">
  </div>
  <br />
  <div class="form-group">
    <label for="publisher">Publisher</label>
    <input type="text" class="form-control" name="publisher" value="<%= game.publisher %>">
  </div>
  <br />
  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" class="form-control" name="date" value="<%= game.date.toISOString().split('T')[0] %>">
  </div>
  <br />
  <div class="form-group">
    <label for="engine">Engine</label>
    <input type="text" class="form-control" name="engine" value="<%= game.engine %>">
  </div>
  <br />
  <div class="form-group">
    <label for="platform">Platform(s)</label>
    <input type="text" class="form-control" name="platform" value="<%= game.platform %>">
  </div>
  <br /> 
  <div class="form-group">
    <label for="genre">Genre</label>
    <select class="form-control" name="genre" id="genre">
		<option disabled> -- Choose Below -- </option>
		<option <%= game.genre === 'adventure' ? 'selected' : '' %>>Adventure</option>  selected
		<option <%= game.genre === 'puzzle' ? 'selected' : '' %>>Puzzle</option> 
		<option <%= game.genre === 'simulation and sports' ? 'selected' : '' %>>Simulation and sports</option> 
		<option <%= game.genre === 'real-time strategy' ? 'selected' : '' %>>Real-time strategy</option> 
		<option <%= game.genre === 'shooter' ? 'selected' : '' %>>Shooter</option> 
		<option <%= game.genre === 'multiplayer online battle arena' ? 'selected' : '' %>>Multiplayer online battle arena</option> 
	</select>
  </div>
  <br />
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" name="color" <%= game.color ? 'checked' : '' %>>
	<label for="color">Color?</label>
  </div>
  <br />
  <div class="form-group">
    <label for="image">Link for Image</label>
    <input type="text" class="form-control" name="image" value="<%= game.image %>">
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>
<%- include("partials/footer") %>